@import '../fonts/font/font.module.css';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.navbar {
  //font-family: 'kyivtype_sansmedium-';
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
}
.layout_container {
  height: auto;
}
.main_countainer {
  font-family: 'Inter', sans-serif;
  font-size: 30px;
}

/* --------------- NAVBAR ----------------------------*/
.nav_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  .logo {
    margin-left: 5rem;
  }

  li {
    list-style: none;
    margin-right: 18rem;

    a {
      text-decoration: none;
      color: white;
      margin-right: 5rem;
      transition: all 0.9s;
      &:hover {
        background-image: radial-gradient(
          circle,
          rgba(122, 129, 127, 1) 85%,
          rgba(0, 0, 0, 1) 99%
        );
        color: transparent;
        background-clip: text;
      }
    }
  }
}
.containerHome {
  width: 78rem;
  height: 45rem;
  padding: 2.5rem;
  display: flex;
  background: #1e0c06d3;
  border-radius: 43px;
  position: relative;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  .homeTable_left_side {
    flex: 50%;
  }
  .homeTable_right_side {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 50%;
  }
  .btnHome {
    width: 14rem;
    height: 3.75rem;
    border-radius: 42px;
  }
}

.title_transparent {
  background-image: radial-gradient(
    circle,
    rgba(122, 129, 127, 1) 45%,
    rgba(0, 0, 0, 1) 95%
  );
  color: transparent;
  background-clip: text;
}
.footer_container {
  width: 100%;
  background-color: wheat;
  height: 18.75rem;
  position: relative;
  bottom: 0;
}
